/*ABOUTME - INDEX*/

@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.profile {
    max-width: 200px;
    padding: 10px;
    margin: auto;
    width: 50%;
}

.profile>img {
    max-width: 200px;
    margin-top: 40px;
}

.sticker {
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: #f8da55;
    color: black;
    border: none;
    padding: 15px 47px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 18px;
    transition-duration: 0.4s;
    font-family: 'Ruda', sans-serif;
    margin-top: 50px;
}

.button:hover {
    background-color: #f8da55d5;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.separator {
    background-color: #227451;
    margin-top: 30px;
    margin-bottom: 30px;
}

.containcontact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contactimg {
    max-width: 60px;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
}

.hover:hover {
    -webkit-transform: scale(1.1);
    transition: all 0.5s;
}

@media screen and (max-width: 600px) {
    .profile {
        max-width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }

    .profile>img {
        max-width: 40vw;
    }

    .containcontact {
        display: flex;
        flex-wrap: wrap;
    }

    .contactimg {
        max-width: 50px;
        margin-right: 20px;
    }

    .contactinfo {
        margin: 20px;
    }

    .button {
        padding: 10px 30px;
        margin: 0;
        font-size: 12px;
    }

}