.separator {
    background-color: #227451;
    margin-top: 50px;
    margin-bottom: 50px;
}

.figma_navbar {
    width: 985px;
}

.figma_gifnavbar {
    width: 439px;
}

.figma_gameui {
    width: 257px;
}

.figma_gifgameui {
    width: 439px;
}

.rowv4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.figma_container {
    display: flex;
    flex-direction: column;
}

.figma_content {
    margin-left: auto;
    margin-right: auto;
}

.figma_content_row {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.description {
    margin-top: auto;
    margin-bottom: auto;
}

.figma_gifinbox {
    width: 432px;
}

.inbox_assets {
    width: 432px;
    margin-top: 20px;
}

.inbox_sideoverlay {
    width: 362px;
    margin-left: 20px;
    margin-right: 20px;
}

.inbox_homescreen {
    width: 388px;
    margin-left: 20px;
    margin-right: 20px;
}

.inbox_newemail {
    width: 388px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

@media screen and (min-width: 600px) {
    .texttohide {
        display: none;
    }
}

/* make all the columns on top on each other on small screen*/
@media screen and (max-width: 600px) {

    .rowv4 {
        flex-direction: column;
    }

    .rowv4>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .figma_navbar {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .figma_gifnavbar {
        width: 80%;
    }

    .figma_gameui {
        width: 60%;
    }

    .figma_gifgameui {
        width: 80%;
        margin-bottom: 20px;
    }

    .figma_gifinbox {
        width: 80%;
    }

    .inbox_assets {
        width: 70%;
        margin-bottom: 20px;
    }

    .inbox_sideoverlay {
        width: 70%;
        margin-top: 20px;
    }

    .inbox_newemail {
        width: 70%;
    }

    .inbox_homescreen {
        width: 70%;
        margin-top: 20px;
    }

    .figma_content_row {
        flex-direction: column;
        align-items: center;
    }

    .figma_container {
        align-items: center;
    }

    .figma_container>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textdescription {
        display: none;
    }

    p {
        margin: 10px auto 20px auto;
        text-align: center;
    }
}