.separator {
    background-color: #227451;
    margin-top: 50px;
    margin-bottom: 50px;
}

.figma_navbar {
    max-width: 40vw;
}

.figma_gifnavbar {
    max-width: 28vw;
    border-radius: 20px;
    margin-right: 2vw;
}

.figma_gameui {
    max-width: 10vw;
}

.figma_gifgameui {
    max-width: 18vw;
    border-radius: 20px;
}

.rowv4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.figma_container {
    display: flex;
    flex-direction: column;
}

.figma_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 70vw;
}

.figma_content_row {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.description {
    margin-top: auto;
    margin-bottom: auto;
}

.figma_gifinbox {
    max-width: 23vw;
    border-radius: 20px;
}

.inbox_assets {
    max-width: 18vw;
    margin-top: 20px;
}

.inbox_sideoverlay {
    max-width: 15vw;
    margin-left: 20px;
    margin-right: 20px;
}

.inbox_homescreen {
    max-width: 15vw;
    margin-left: 20px;
    margin-right: 20px;
}

.inbox_newemail {
    max-width: 15vw;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.center {
    padding-top: 50px;
    padding-bottom: 30px;
}

.center>p {
    text-align: center;
    font-size: 24px;
}

.gif-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10vh 20vw 0px;
}

.gif-grid {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    margin: 10vh 25vw 0px;
}

.nightday_gif {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.screensize-gif {
    max-width: 10vw;
    border-radius: 20px;
}

.square-gif {
    max-width: 20vw;
    border-radius: 20px;
}

.drop-gif {
    max-width: 10vw;
    border-radius: 20px;
}

.wait-gif {
    max-width: 10vw;
    border-radius: 20px;
}

.nature-gif {
    max-width: 10vw;
    border-radius: 20px;
}

@media screen and (min-width: 600px) {
    .texttohide {
        display: none;
    }
}

/* make all the columns on top on each other on small screen*/
@media screen and (max-width: 600px) {

    .rowv4 {
        flex-direction: column;
    }

    .rowv4>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .figma_navbar {
        max-width: 80vw;
        margin-top: 3vh;
    }

    .figma_gifnavbar {
        max-width: 80vw;
        margin: auto;
    }

    .figma_gameui {
        max-width: 63vw;
    }

    .figma_gifgameui {
        max-width: 90vw;
    }

    .figma_gifinbox {
        max-width: 90vw;
    }

    .inbox_assets {
        max-width: 80vw;
    }

    .inbox_sideoverlay {
        max-width: 80vw;
        margin-top: 20px;
    }

    .inbox_newemail {
        max-width: 80vw;
    }

    .inbox_homescreen {
        max-width: 80vw;
        margin-top: 20px;
    }

    .figma_content_row {
        flex-direction: column;
        align-items: center;
    }

    .figma_container {
        align-items: center;
    }

    .figma_container>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textdescription {
        display: none;
    }

    p {
        /*margin: 10px auto 20px auto;*/
        text-align: center;
    }

    .center>p {
        text-align: center;
        font-size: 18px;
    }

    .gif-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .gif-grid {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        margin: auto;
    }

    .nightday_gif {
        width: 85vw;
        margin-bottom: 3vh;
    }

    .screensize-gif {
        max-width: 70vw;
        margin-bottom: 3vh;
    }

    .square-gif {
        max-width: 70vw;
        margin-bottom: 3vh;
    }

    .drop-gif {
        max-width: 70vw;
        margin-bottom: 3vh;
    }

    .wait-gif {
        max-width: 70vw;
        margin-bottom: 3vh;
    }

    .nature-gif {
        max-width: 70vw;
        margin-bottom: 3vh;
    }
}