html,
body {
    height: 100%;
}

body {
    margin: auto 0;
    background-color: #dddbd2;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/*HEADER*/

.header {
    background-color: #f8da55;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
}

.imgheader {
    max-height: 60px;
}

/*NAV*/
.main-nav {
    display: flex;
    list-style: none;
    font-size: 1.1rem;
    margin: 0;
    background-color: #f8da55;
    justify-content: center;
}

.main-nav li {
    color: rgb(0, 0, 0);
}

.main-nav a {
    color: rgb(0, 0, 0);
    font-family: 'Spectral', serif;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: rgba(100, 100, 100, 0.541);
}

li {
    padding: 10px;
    font-family: 'Spectral', serif;
}

a {
    color: #000000;
    text-decoration: none;
    font-family: 'Spectral', serif;
}

/* FOOTER */

footer {
    padding: 1px;
    background-color: #f8da55;
    color: rgb(0, 0, 0);
    margin-top: 100px;
    flex-shrink: 0;
}

footer>p {
    font-family: 'Spectral', serif;
    text-align: center;
    font-size: 12px;
}

/*GRID*/

.portfolio {
    display: flex;
    margin-top: 60px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-left: 20px;
    margin-right: 20px;
    align-content: space-between;
    flex: 1;
}


/* TABLES */

.stats {
    display: flex;
    margin: 0;
    justify-content: center;
    font-family: 'Spectral', serif;
    font-size: 18px;
}

.stats td {
    padding: 10px;
    background-color: white;
}


/*PARAGRAPH*/

p {
    font-family: 'Spectral', serif;
    font-size: 18px;
    line-height: 28px;
    margin: 10px;
    text-align: justify
}

.flexbutton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*change text size of the nav bar on small screen*/
@media screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.7em;
    }

    /* .row makes all the columns on top on each other on small screen*/

    .row {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .column {
        max-width: 100%;
    }

    .container {
        max-height: 20vh;
    }

    .cover {
        max-height: 20vh;
    }

    p {
        font-size: 14px;
    }

    .flexbutton {
        flex-direction: column;
        justify-content: center;
    }

    .imgheader {
        max-width: 30px;
    }
}