$backgroundcolor: #f1f1f1;
$primarycolor: #383436;
$secondarycolor: #ce641d;
$my_yellow: #f8da55;

@mixin margin ($margin) {
    margin: $margin
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Over+the+Rainbow&family=Syne+Mono&display=swap');

.main_title {
    font-size: 60px;
    text-align: center;
}

.candy {
    font-family: 'Amatic SC', cursive;
}

.coffee {
    font-family: 'Over the Rainbow', cursive;
}

.tech {
    font-family: 'Syne Mono', monospace;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;

    p {
        text-align: center;
        margin: 2vh 2vw;
    }
}

.large_img {
    @include margin (3vh auto);
}

.large_branding {
    max-width: 45vw;
    @include margin (auto 5vw);
}

.medium_img {
    max-width: 25vw;
    @include margin (auto);
}

.small_img {
    max-width: 15vw;
    object-fit: contain;
    @include margin (auto 2vw);
}

.logo_branding {
    max-width: 15vw;
    @include margin (auto);
}

@media screen and (max-width: 600px) {
    .main_title {
        font-size: 40px;
    }

    .large_img {
        max-width: 90vw;
    }

    .large_branding {
        max-width: 90vw;
        @include margin (auto);
    }

    .logo_branding {
        max-width: 70vw;
        @include margin (auto);
    }

    .small_img {
        max-width: 50%;
        margin-top: 2vh;
        @include margin (auto);
    }

    .medium_img {
        max-width: 80%;
    }

    /* make all the columns on top on each other on small screen*/

    .row {
        flex-direction: column;
    }

}